/* Estilos globais */
body {
    font-family: var(--font-family);
    background: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

a {
    color: var(--primary-color);
    transition: color var(--transition);
}

a:hover {
    color: var(--primary-color-hover);
}
