.carousel {
    position: relative;
    width: 600px;
    overflow: hidden;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    max-width: 100%;
    height: auto;
    margin: auto;
    object-fit: contain;
    background-color: #eee;
    flex-shrink: 0;
    margin-left: 20px;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel button:hover {
    background: rgba(0, 0, 0, 0.7);
}

.carousel button.prev {
    left: 10px;
}

.carousel button.next {
    right: 10px;
}